# Node.js dependencies
node_modules/

# Environment variables
.env

# Log files
*.log

# Cache & temporary files
.cache/
dist/

# OS-specific files
.DS_Store
Thumbs.db

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
